<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework Example OS X App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Framework Example iOS App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Framework Example iOS Today Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FrameworkKit Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FrameworkKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C2EE5CA1B03A628000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE5DF1B03A628000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE5F41B03A941000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE5FE1B03A941000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6191B03AAF2000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6231B03AAF2000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE63D1B03ACA9000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6471B03ACA9000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6611B03BB72000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE66B1B03BB72000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6851B03C8CE000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE68F1B03C8CE000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6AC1B03CCAC000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6C31B03CD6F000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6D41B03CD6F000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6EC1B03CDDE000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2EE6F61B03CDDE000C7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
